body{
    background-color:grey;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: orangered;
    background-color:lightblue;
}

/* selected link */
a:active {
    color: forestgreen;
    transform: scale(2);
}

.main{
    display: block;
    width: 70%;
    margin: 25px 50px 75px 100px;
    text-align: center;
}
