body {
  background: url(https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
  background-size:cover;                      /* <------ */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#nav {
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.7%;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: transparent;
}
#bigWords{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  color: black;
  text-align: right;
}
#name{
  border-bottom: black;
}
#para {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
#projects {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 10px;
}
#blogs{
  display: block;
  margin-top: 10px;
}
#portfolioBtn, #blogsBtn, #contactBtn{
  font-size: 2.5em;
  color:white;
  font-family: 'Fjalla One', sans-serif;
}

#logo {
  display: block;
  height: 60px;
}
#title {
  display: block;
  margin-top: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
}
#myName {
  font-size: 3.5em;
  color:white;
  font-family: 'Fjalla One', sans-serif;
}
#ex {
  font-size: 2em;
  color:white;
  font-family: 'Fjalla One', sans-serif;
}
#techBtn {
  display: block;
  font-size: 2em;
  color:white;
  font-family: 'Fjalla One', sans-serif;
  margin: auto;
  width: 50%
}
.navbar-right {
text-align: center;
}
#techSec {
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
}
.blogContent {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  background-color:rgba(255,255,255,0.10);
  color: white;
  font-family: 'Fjalla One', sans-serif;
}
.projectContent {
  margin: 5px;
  background-color:rgba(255,255,255,0.10);
  color: white;
  font-family: 'Fjalla One', sans-serif;
}