body {
  background-color: #ff9021;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#nav {
  background-color: #0a5e77;
}
#bigWords{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  color: black;
  text-align: right;
}
#name{
  border-bottom: black;
}
#para {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
#projects {
  background-color:  indianred;;
}
#blogs{
  background-color: navajowhite;
}
#portfolioBtn, #blogsBtn, #contactBtn {
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  color:white;
}
#nameButton {
  font-family: 'Monoton', cursive;
  font-size: 2em;
  color:white;
}
.projectContent {
  margin: 5px;
}
