body {
  background: url(https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed;
  background-size:cover;                      /* <------ */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#nav {
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: transparent;
}
#bigWords{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  color: black;
  text-align: right;
}
#name{
  border-bottom: black;
}
#para {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
#projects {
  background-color:maroon;
}
#blogs{
  background-color: navajowhite;
}
#portfolioBtn, #blogsBtn, #contactBtn, #techBtn {
  font-size: 3em;
  color:white;
  font-family: 'Amatic SC', cursive;
}
#nameButton {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  color:white;
}
.projectContent {
  margin: 5px;
}
